$greyColor: #333;
$whiteColor: #f2f2f2;
$minusMargin: -30px;
$minusMarginR: -40px;

@media screen and (min-width: 480px)
{
    $greyColor: navy;
}


.header
{
    color: $whiteColor;
    background-color: black;
    background-image: linear-gradient(black, $greyColor);
    text-align: center;
    padding: 20px;
    position: relative; 
    margin-top: $minusMargin;
}

.nav
{
    overflow: hidden;
    background-color: $greyColor;
    a
    {
        float: left;
        display: block;
        color: $whiteColor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover
    {
        background-color: #ddd;
        color: black;
        text-transform: none;
    }
}

#jumbotron
{
    background-color: #f2f2f2;
    border: 1rem;
    border-color: $greyColor;
    border-style: solid;
    margin-bottom: $minusMarginR;
}

%fix
{
    width:100%;
    height: 100%;   
}

.fixCard
{
    @extend %fix;
}

.fixCards
{
    @extend %fix;
    border: 1rem;
    border-color: $greyColor;
    border-style: solid;
    border-collapse: collapse;
}